<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header th:fragment="shopHeader">
        <span class="title">MyShop</span>
<!--        <a href="" class="cart-ico">-->
            <div>
                <span>Koszyk (</span>
                <span th:text="${@cart.counter}"></span>
                <span> ) </span>
                <span th:text="${@cart.sum}"></span>
                <span>zł</span>
            </div>
<!--        </a>-->
    </header>
</body>
</html>