<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header th:fragment="shopHeader">
        <span class="title">MyShop</span>
        <a href="" class="cart-ico">
            <div>
                <span>Koszyk</span>
                <span th:if="${session.cart != null}" th:text="${session.cart.size()}"></span>
                <span th:unless="${session.cart != null}">0</span>
                <span>0</span>
                <span>zł</span>
            </div>
        </a>
    </header>
</body>
</html>